<div class="content-pages">
  <div class="container">
    <div class="pull-left" style="width: 640px; padding-top: 100px;">
      <h2 class="subtitle"><%= t("website.shared_banner.title") %></h2>
      <br>
      <p class="grey-text justify">
        <%= t("website.shared_banner.paragraph_one") %>
      </p>
      <p class="grey-text justify">
        <%= t("website.shared_banner.paragraph_two") %>
        </p>
      <br>
      <div class="center">
        <%= link_to image_tag("app-store-button.svg", alt: "Download on the App Store", class: "app-store-button"), "http://www.appstore.com" %>  
        <a href='https://play.google.com/store/apps/details?id=com.beautboss.app&utm_source=website&utm_medium=web&utm_content=website&utm_campaign=internal&pcampaignid=2'><img alt='Get it on Google Play' height="59" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
      </div>
    </div>
    <div class="pull-right">
      <%= image_tag "iphone_bottom.png", alt: "download!", class: "", style: "padding-left: 0; margin-top: 0; margin-bottom: 0;" %>
    </div>
  </div>
</div>

<div style="background-color: #f1f1f1;">
  <%= render "shared/footer" %>
</div>