<div id="header">
  <%= image_tag "beautboss-logo.png", alt: "beautboss", class: "center logo" %>
</div>

<div class="content">
  <div class="center" style="align-self: baseline; padding: 24px 0 18px 0; margin: 0;">
    <h1 class="title">i forgot my password :(</h1>
  </div>
  <div class="">
    <p class="grey-text center" style="width: 388px; padding: 0 0 20px 0;">Please inform your email address. We'll send you a link to your email and then you can set a new password ;)</p>
    <%= form_for @user, url: authentications_path  do |f| %>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control input-lg center", placeholder: "email" %>
      </div>
    </form>
    <br/>
    <%= submit_tag "send me a new password", class: "btn btn-primary center" %>
    <%= link_to "cancel", root_path, class: "btn btn-default center" %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>