<div class="home" style="">

  <div class="container">
    <%= link_to image_tag("logo.png", alt: "beautboss", class: "center logo"), root_path %>
  </div>

  <div class="clearfix center">
    <div class="content-sign-in">
      <div class="center" style="padding-top: 24px; padding-bottom: 24px;">
        <h1 class="title"><%= t("website.sign-in.title") %></h1>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "notice center", style: "width: 388px; padding: 0 0 20px 0; text-align: center;" %>
      <% end %>
      <div style="margin-bottom: 40px;">
        <a class="btn btn-facebook center" onclick="fbLogin();"><%= t("website.sign-in.button_facebook") %></a>
        <br>
        <%= form_for @user, url: authentications_path  do |f| %>
          <div class="form-group">
            <%= f.email_field :email, class: "form-control input-lg center", placeholder: t("website.sign-in.label_email") %>
            <%= f.password_field :password, class: "form-control input-lg center", placeholder: t("website.sign-in.label_password") %>
          </div>
          <br>
          <%= submit_tag t("website.sign-in.button_sign_in"), class: "btn btn-primary center" %>
          <%= link_to t("website.sign-in.button_forgot_password"), forgot_password_url, class: "btn btn-default center" %>
        <% end %>
        <br>
        <p class="grey-title" style="text-align: center; font-weight: 100;"><%= t("website.sign-in.call_to_action").html_safe %></p>
        <div class="center">
          <%= link_to image_tag("app-store-button.svg", alt: "Download on the App Store", class: "app-store-button-large"), "https://itunes.apple.com/us/app/beautboss/id1099934307?ls=1&mt=8" %>
          <a href='https://play.google.com/store/apps/details?id=com.beautboss.app&utm_source=website&utm_medium=web&utm_content=website&utm_campaign=sign-in&pcampaignid=3'><img alt='Get it on Google Play' height="84" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render "shared/footer" %>

<script type="text/javascript">

  // Load Fb SDK
  window.fbAsyncInit = function() {
    FB.init({
      appId      : "<%= ENV['FACEBOOK_APP_ID']%>",
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function fbLogin() {
    FB.login(function(response) {
      if (response.status === 'connected') {
        // alert("Logged into your app and Facebook. Facebook access token: " + response.authResponse.accessToken);
        // document.getElementById("facebook_login").submit();
        window.location.href = "<%= sign_in_facebook_url %>?access_token=" + response.authResponse.accessToken;
      } else if (response.status === 'not_authorized') {
        alert("The person is logged into Facebook, but not your app.");
      } else {
        alert("The person is not logged into Facebook, so we're not sure if they are logged into this app or not.");
      }
    }, {scope: 'public_profile,email'});
  }

</script>