<%= render "shared/header_authenticated" %>

<table class="table table-striped" style="margin: 0;">

  <% @newsfeed.limit(20).each do |n| %>

    <tr><td>

      <div id="register" class="center" style="padding-top: 20px; padding-bottom: 12px;">

        <div style="width: 624px;">
      
          <div id="owner" class="clearfix" style="padding-left: 24px; padding-bottom: 14px;">
            <div class="pull-left">
              <%= link_to image_tag(n.user.avatar, alt: n.user.username, size: '48x48', class: "img-circle", style: "margin-top: 10px;"), n.user %>
            </div>
            <div class="pull-left" style="padding-left: 24px;">
              <p style="line-height: 40px; font-weight: bold; font-size: 18px;"><%= link_to n.user.username, n.user, style: "color: #770749; text-decoration: none;" %></p>
              <p style="margin-top: -16px; font-size: 18px; font-weight: normal; color: #a0a0a0;"><%= time_ago_in_words(n.created_at) %> ago</p>
            </div>
          </div>

          <div id="image" class="center">
            <%= link_to image_tag(n.image, alt: n.service, size: '600x600', class: "", style: ""), register_path(n) %>
          </div>

          <div id="wows" class="clearfix">
            <% if n.wows_count > 0 %> 
              <%= image_tag "ic_wow_notation.png", class: "pull-left", style: "margin-left: 24px; margin-top: 24px;" %>
              <p class="pull-left" style="font-size: 22px; font-weight: normal; color: #770749; margin-top: 18px; padding-left: 12px;">
                <% if n.wows_count == 1 %>
                  <%= link_to n.wows.first.user.username, n.wows.first.user, class: "pink-link-large" %> wowed this!
                <% elsif n.wows_count == 2 %>
                  <%= link_to n.wows.first.user.username, n.wows.first.user, class: "pink-link-large" %> and <%= link_to n.wows.second.user.username, n.wows.second.user, class: "pink-link-large" %> wowed this!
                <% else %>
                  <%= n.wows_count %> wows!
                <% end %>
              </p>
            <% end %>
          </div>

          <div id="service" class="clearfix" style="margin-left: 24px; margin-top: 24px;">
            <p class="font-small bold grey"><%= n.service %></p>
            <p class="font-small regular grey">
              <% unless n.place.nil? %>at <span class="bold"><%= n.place.name %></span><% unless n.place.address.nil? %> in <span class="bold"><%= n.place.address %></span><% end %><% end %>
            </p>
          </div>

          <div id="comments" class="clearfix" style="margin-left: 24px;">
            
            <% n.comments.limit(5).order(created_at: :asc).each do |c| %>

              <p class="font-small"><span class="purple bold"><%= c.user.username %></span>&nbsp;<span class="grey regular word-wrap"><%= c.comment %></span></p>

            <% end %>

            <% if n.comments.size > 5 %>
              <p class="font-small"><span class="grey regular word-wrap">
                <%= link_to "View all #{n.comments.size} comments", register_path(n), class: "pink-link" %>
              </span></p>
            <% end %>

            <!-- <hr> -->

          </div>

        </div>

      </div>

    </td></tr>

  <% end %>

</table>

<div style="background-color: #f0f0f0; height: 60px;"></div>

<%= render "shared/extended_footer" %>
