<div class="home">

  <div class="container">
    <%= link_to image_tag("logo.png", alt: "beautboss", class: "center logo"), root_path %>
  </div>

  <div class="clearfix center">
  
    <div class="content-sign-in">

      <div class="center" style="padding-top: 24px; padding-bottom: 24px;">
        <h1 class="title"><%= t("website.forgot_password.title").html_safe %></h1>
      </div>
      <div class="">
        <p class="grey-text center" style="width: 388px; padding: 0 0 20px 0; text-align: center;">
          <%= t("website.forgot_password.sent_message").html_safe %>
        </p>
        <%= link_to t("website.forgot_password.button_back"), root_path, class: "btn btn-primary center" %>
      </div>

  </div>

</div>

<div style="margin-bottom: 40px;"></div>

<%= render "shared/footer" %>